/* Sidebar.css */
.navbar-nav{
    background-color: #004225;
}

.navbar{
    background-color: #004225;
   
}

.card{
    background-color: #F5F5DC;
    margin-left: 4%;
}

.btn{
    background-color: #FFB000;
}

.sticky-footer{
    background-color: #F5F5DC;
}











